body {
  font-family: sans-serif;
  background: #fefefe;
  padding: 1rem;
}

section {
  background: #fff;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 4px #ccc;
  max-width: 800px;
  margin: 2rem auto;
}

details {
  margin-top: 1rem;
}
